# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# Ambientes Virtuais
venv/
.venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Dados (Ignorando conteúdo, mas não o .gitkeep)
data/*
!data/.gitkeep
*.csv
*.tsv
*.xlsx
*.dat
*.parquet
*.feather
*.h5
*.hdf5

# Modelos (Ignorando conteúdo, mas não o .gitkeep)
models/*
!models/.gitkeep
*.pkl
*.pt
*.pth
*.joblib

# Logs, Métricas e Experimentos
logs/
*.log
mlruns/
wandb/
artifacts/

# Sistema Operacional
.DS_Store
Thumbs.db
